@model Dictionary<string, IEnumerable<MayaFoods.Models.Product>>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Out Maya's Newest Products</h2>
<hr />
<table class="table">
    @foreach (var listProduct in Model["last"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listProduct.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listProduct.Origincountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listProduct.Cost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })
            </td>
        </tr>
    }
</table>

<h2>Enjoy Maya's Most Popular Products</h2>
<table class="table">
    @foreach (var listProduct in Model["best"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listProduct.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listProduct.Origincountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listProduct.Cost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
	@Html.ActionLink("View All Products", "AllProducts")
</p>