@model Dictionary<string, IEnumerable<MayaFoods.Models.Product>>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Out Maya's Newest Products</h2>
<hr />
    @foreach (var listProduct in Model["last"])
    {
	    <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>@Html.DisplayFor(modelItem => listProduct.Name)</h3>
		        </div>
		        <div class="panel-body">
                    <p>@Html.DisplayFor(modelItem => listProduct.Origincountry)</p>
                    <p>@Html.DisplayFor(modelItem => listProduct.Cost)</p>
			        <p>@Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })</p>
		        </div>
	        </div>
        </div>

    }

<h2>Enjoy Maya's Most Popular Products</h2>
<table class="table">
    @foreach (var listProduct in Model["best"])
    {
	    <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>@Html.DisplayFor(modelItem => listProduct.Name)</h3>
                </div>
                <div class="panel-body">
                    <p>@Html.DisplayFor(modelItem => listProduct.Origincountry)</p>
                    <p>@Html.DisplayFor(modelItem => listProduct.Cost)</p>
				    <p>@Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })</p>
                </div>
            </div>
        </div>
                
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
	@Html.ActionLink("View All Products", "AllProducts")
</p>