@model MayaFoods.Models.Review

@{
    ViewData["Title"] = "Review - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Are you sure you want to delete this?</h2>
    <hr />

    @Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author)<br>
    @Html.DisplayNameFor(model => model.ContentBody): @Html.DisplayFor(model => model.ContentBody)<br>
    @Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)<br>
    @Html.DisplayNameFor(model => model.ProductId): @Html.DisplayFor(model => model.ProductId)<br>

    @using(Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }


<p>@Html.ActionLink("Back to Products List", "Index")</p>