@model MayaFoods.Models.Review

<html>
<head>
    <title>Maya's Specialty Foods - Review Details</title>
</head>

<body>
    <h2>Product Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author)<br>
    @Html.DisplayNameFor(model => model.ContentBody): @Html.DisplayFor(model => model.ContentBody)<br>
    @Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)<br>

    <p>@Html.ActionLink("Back to Products List", "Index", "Products")</p>
</body>
</html>