@model IEnumerable<MayaFoods.Models.Review>

@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reviews</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
		<th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th></th>
    </tr>

    @foreach (var listProduct in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listProduct.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listProduct.ContentBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listProduct.Rating)
            </td>
		    <td>
                @Html.DisplayFor(modelItem => listProduct.ProductId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })
                </td>
            }
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>